.signup, .signupform {
    font-size: 18px;
    position: relative;
    top: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.signupform>legend {
    display: none;
}

.signupform >label {
    display: inline-block;
}

.signup-button{
    font-size: 18px;
    border: none;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}


.signupform > .signup-label-group > input {
    /* width: 50%; */
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (min-width: 550px){
.signup{
    font-size: 24px;
}
}



