.signupform{
    position: relative;
    top: 120px;
    width: 100%;
}
 .signupform-fieldset {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: flex-start
    
}

.signupform-fieldset>legend {
    display: none;
}

.signupform-fieldset > input {
    width: 100%;
    margin-bottom: 10px;
}


.signup-button{
    font-size: 24px;
    border: none;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}


@media only screen and (min-width: 550px){
.signup{
    font-size: 24px;
}

.signupform{
    
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      
}
}



