.landing, .landing-section {
    position: relative;
    top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landing-image {
    width: 75%;
    border: solid #46535E 2px;
}

.landing-image:hover{
    width: 100%;
}

.landing-section > p{
    text-align: center;
}