.signin {
    position: relative;
    top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.signin > button {
    font-size: 24px;
    background: white;
    border: none;
}

@media only screen and (min-width: 550px){
    .signin{
        justify-content: center;
        align-content: center;
        
    }

    .signin > label {
        display: inline-block;

    }

    .signin > input {
        width: 50%;
    }
}