.addflyer {
  position: relative;
  top: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 14px;
}
.button-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
}

.react-datepicker-wrapper, .react-datepicker__input-container{
    display: block !important;
    width: 100%;

}

.react-datepicker__input-container{
  width: 100%;
}


.react-datepicker__input-container input, .form-datepicker{
  display: block;
  width: 100%;
}

.addflyer > input, select, img {
    width: 100%;  
}

.addflyer > label {
    margin-top: 10px;
  } 

  .form-datepicker{
    width: 100%;
  }

  .flyer-form-buttons {
    width: 100px;
    border: none;
    background-color: white;
    height: 50px;
    font-size: 20px;
  }

  .form-validation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
  }

  @media only screen and (min-width: 550px){
    .addflyer{
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }

  .form-label-group > input, select, img {
      width: 100%;
  }

  .form-datepicker{
      width: 100px
    }

  .flyer-form-buttons{
      font-size: 24px;
    }
  
    #flyer-form-submit.disabled{
      opacity: 0.6;
      cursor: not-allowed;
    }

  }

  
  