.addflyer{
  font-size: 14px;
}

.addflyer > input, select, img {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 50%;
}
 .addflyer > label {
    display: inline-block;
    margin: 10px 10px 20px;
    margin-left: 0;
  } 

  .flyer-form-buttons {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    background-color: white;
  }

  @media only screen and (min-width: 550px){
    .addflyer{
      font-size: 24px;
    }



  }

  
  