input, select, img {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    /* width: 40%;*/
}
 /* label {
    display: inline-block;
    margin: 10px 10px 20px;
    margin-left: 0;
  } */

  button {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
  }

  .loader {
    border: 16px solid #E2A66F; /* yello */
    border-top: 16px solid #2A465E; /* dark red */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    margin-left: auto;
    margin-right: auto;
  }
  