.flyer-list {
    position: relative;
    top: 100px;
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
  }

  ul{
      list-style: none;   
  }
  
  li {
    margin-top: 10px;
  }