.popup {  
    position: fixed;  
    width: 350px;  
    height: 100px; 
    top: 120px; 
    background-color: #E2A66F; 
    
  }  
  /* .popup-inner {  
    position: relative;  
    left: 5%;  
    right: 5%;  
    top: 5%;  
    bottom: 5%;  
    margin: auto;  
    border-radius: 20px;  
    background: white; 
   
  } */

  .popup-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  @media only screen and (min-width: 550px){
     .popup-inner{
       font-size: 16px;
     }
  }