.popup {  
    position: fixed;  
    width: 250px;  
    height: 100px; 
    top: 120px; 
    background-color: white; 
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid  #E2A66F;
    border-radius: 20px;
  }  

  .popup > h1 {
    position: static;
    text-align: center;
    font-size: 16px;
  }

  .popup-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  @media only screen and (min-width: 550px){
     .popup-inner{
       font-size: 16px;
     }
  }