* {
    box-sizing: border-box;
  }

  body {
    font-family: 'Architects Daughter', cursive;
    font-size: 24px;
    color: #5D7991;
    text-align: center;
  }
  
  a:hover {
    color: #E2A66F;
  }  
  a:link {
    color: #2A465E;
  }
  a:visited {
    color: #2A465E;
  }

  button {
      border: solid 2px #2A465E;
      font-weight: bold;
      border-radius: 5px;
      /* margin-right: 10 px; */
      font-size: 20px;
      color: #2A465E;
      background-color: #E2A66F ;
  }
