* {
    box-sizing: border-box;
  }

  body {
    font-family: 'Alfa Slab One', cursive;
    font-size: 24px;
    color: #5D7991;
    
  }
  
  a:hover {
    color: #E2A66F;
  }  
  a:link {
    color: #2A465E;
  }
  a:visited {
    color: #2A465E;
  }

  .flyer-link:hover {
    color: #E2A66F;
  }  

  button {
      border: solid 2px #2A465E;
      font-weight: bold;
      border-radius: 5px;
      color: #2A465E;
      background-color: #E2A66F ;
  }

  input:focus {
    background: #D6ECFF;
    border-radius: 5px;
    outline: none;
  }

  .loader {
    /* background-color: #2A465E;
    background-image: linear-gradient(to right,
      rgba(0, 0, 0, .9) 25%,
      rgba(0, 0, 0, .1) 50%,
      rgba(0, 0, 0, .9) 75%);
    color: #E2A66F; */
    height: 75%;
    width: 75%;

    -webkit-animation: 30s linear 0s infinite alternate move_loader;
          animation: 30s linear 0s infinite alternate move_loader;
  }

  @-webkit-keyframes move_loader { from { margin-left: -5%; } to { margin-left: 100%; }  }
        @keyframes move_loader { from { margin-left: -5%; } to { margin-left: 100%; }  } 


  button:disabled{
    opacity: 0.6;
    cursor: not-allowed;
  }

  button:hover{
    background-color: #D6ECFF;
    border: darkgrey;
    border-radius: 100px;
  }


  
 