* {
    box-sizing: border-box;
  }

  body {
    /* font-family: 'Architects Daughter', cursive; */
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 24px;
    color: #5D7991;
    
  }
  
  a:hover {
    color: #E2A66F;
  }  
  a:link {
    color: #2A465E;
  }
  a:visited {
    color: #2A465E;
  }

  button {
      border: solid 2px #2A465E;
      font-weight: bold;
      border-radius: 5px;
      /* margin-right: 10 px; */
      /* font-size: 20px; */
      color: #2A465E;
      background-color: #E2A66F ;
  }

  button, input, select {
    /* font-family: inherit; */
    /* font-size: 100%; */
  }

  input:focus {
    background: rgba(0,0,0,.1);
    border-radius: 5px;
    outline: none;
  }

  .loader {
    /* border: 16px solid #E2A66F; /* yello */
    /* border-top: 16px solid #2A465E; dark red */
    /* border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: 3s spin 2s linear infinite; 
    margin-left: auto;
    margin-right: auto; */
  }


  
 