.list-group{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
}

img {
    width: 25%;
    height: 25%;
}

.flyer {
    border: solid #46535E 2px;
}

dt{
    font-weight: bold;
}

img:hover {
    width: 50%;
    height: 50%;
  }