.list-group{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
}

img {
    width: 25%;
    height: 25%;
}

.flyer {
    border: solid #46535E 2px;
}

dt{
    font-weight: bold;
}

img:hover {
    width: 50%;
    height: 50%;
  }

 .add-to-calendar {
    
        border-radius: 5px;
        margin-right: auto;
        margin-left: auto;
        width: 200px;
        font-size: 20px;
        color: #2A465E;
        background-color: #E2A66F ;
        text-align: center;
    
 } 

 .add-to-calendar > a:hover {
        color: #2A465E;
 }
