.list-group{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
}


canvas {
    width: 50%;
    height: 50%;
    margin-right: auto;
    margin-left: auto;
}

.flyer {
    border: solid #46535E 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
}

dl {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

dt{
    font-weight: bold;
}

canvas:hover {
    width: 75%;
    height: 75%;
  }

 .add-to-calendar {
        font-weight: bold;
        border-radius: 5px;
        border: solid 2px #2A465E;
        margin-right: auto;
        margin-left: auto;
        width: 200px;
        font-size: 20px;
        color: #2A465E;
        background-color: #E2A66F ;
        text-align: center;
    
 } 

 .react-add-to-calandar {
    display: flex;
     flex-direction: column;
     justify-content: space-around;
 }

 .react-add-to-calandar__dropdown{
     display: inline-block;
 }

 .add-to-calendar > a:hover {
        color: #2A465E;
 }

 .flyer-buttons{
     
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-self: flex-end;
 }

 .flyer-buttons > button, Link{
     border: none;
     background-color: white;
     font-size: 20px;
     width: 30px;
     
 }

 
 @media only screen and (min-width: 550px){
    .flyer{
        font-size: 24px;
        
    } 
 
    /* html{
        background-color: red;
    } */
    
   }
