fieldset{
   border: 0;
   
}

.filter {
   font-size: 12px;
   position: relative;
   top: 100px;
   left: 0px;
   right: 0px;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: center;
   
   background-color: #D6ECFF;

}

.form-group {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-content: flex-start;
}

.form-group > select {
   width: 100px;
   display: inline-block;
}

.form-group > label, legend {
   font-weight: bold;
   margin-right: 10px;
   margin-left: 10px;
}

label, input, select{
   margin: 5px;
}
.radio-button > input {
   display: none;
}

.radio-button > label{
   display: block;
   border-radius: 5px;
   padding: 10px 10px;
   border: 2px solid #2A465E;
   cursor: pointer;
   background-color: #E2A66F;
   font-weight: bold;
   
}

@media only screen and (min-width: 550px) {
   .filter{
      font-size: 20px;
   }

   .form-group {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-content: flex-start;
   }
   
   
}

