fieldset{
   border: 0;
   
}

.filter {
   font-size: 12px;
   position: relative;
   top: 100px;
   left: 0px;
   right: 0px;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: center;
   
   background-color: #D6ECFF;

}

.filter-group {
   width: 40%;
}

.form-group {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-content: flex-start;
   width: 100%;
  
}

.form-group > select {
   width: 100px;
   display: inline-block;
}

.form-group > label, legend {
   /* font-weight: bold; */
   margin-right: 10px;
   margin-left: 10px;
}

/* .form-group >label, input, select{
   margin: 5px;
} */

.radio-button {
  
   appearance: none;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: flex-start;
   

}




 .radio-button > label{
   /* display: block;
   border-radius: 5px;
   padding: 10px 10px;
   border: 2px solid #2A465E;
   cursor: pointer;
   background-color: #E2A66F;
   font-weight: bold; */

   /* font: 15px/1.7 'Open Sans', sans-serif;
     color: #333; */
     
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
     display: inline-block;
     cursor: pointer;
     margin-right: 10px;
     
     
   
} 

.radio-button > input {
   /* -webkit-appearance: none;
   -moz-appearance: none; */
   /* border: 0; */
   border-radius: 3px;
   cursor: pointer;
   margin-right: 7px;
   /* outline: none; */
}

@media only screen and (min-width: 550px) {
   .filter{
      font-size: 14px;
   }

   .form-group {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-content: flex-start;
   }
   
   
}

