.filter {
   font-size: 12px;
   position: relative;
   top: 100px;
   left: 0px;
   right: 0px;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   /*height: 100px;*/
   text-align: top;
   background-color: #D6ECFF;
   
 
}

.form-group {
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-content: flex-start;
}

label, input, select{
   margin: 5px;
}

/*p {
   display: inline-block;
}*/