* {
    box-sizing: border-box;
  }

  body {
    /*font-family: Arial, Helvetica, sans-serif;
    font-family: 'Rock Salt', cursive;*/
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
    color: black;
    text-align: center;
  }


  
  
  /*section:nth-child(odd) {
    background-color: white;
  }*/

  button {
      height: 20px;
      margin: 5 px;
  }
