nav {
    padding-top: 5px;
    padding-right: 10px;
    /*border: 1px solid black;*/
    position: fixed;
    text-align: right;
    z-index: 1;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: #A3C2DD;
    height: 100px;
}

.nav-logo {
  position: absolute;
  top: 0px;
  left: 20px;
  width: 35px;
  
}

h1 {
  position: absolute;
  top: 5px;
  left: 50px;
  font-size: 16px;
}

nav> ul {
  position: relative;
  display: flex;
  flex-direction: row;
   justify-content: flex-end; 
  align-items: flex-end;
  list-style: none;
  font-size: 10px;
}

nav > ul > li{
  flex: 1 1 auto;
}

a {
  text-decoration: none;
}


@media only screen and (min-width: 550px){
 h1 {
   font-size: 30px;
 }

 nav > ul{
   font-size: 20px;
 }

}

