.signup {
    position: relative;
    top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.signup > input {
    width: 100%;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}

.addChild {
    position: relative;
    top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.done {
    position: relative;
    top: 20px;
}